@media (max-width : 1335px) {
    .container-2xl{
        padding: 0 1rem;
    }
}

@media (max-width : 1279px) {
    .header .menu .menu-item li:nth-child(6){
        display: none;
    } 
}

@media (max-width : 1023px) {
    .header picture img {
        height: 35px;
    }
    .header-menu .search-container , .header-menu .menu {
        display: none !important;
    }
    .header-menu .search-responsive-container{
        display: block;
    }
    .header-menu{
        padding: 0;
    }
    .header-menu::after{
        display: none;
    }
    .header-stories{
        padding: 16px 0 10px 0;
    }
    .container-2xl{
        padding-left: 0;
        padding-right: 0;
    }
    .header-stories-swiper .swiper-slide:first-child{
        margin-right: 8px;
    }
    .header-stories-swiper .swiper-slide:last-child{
        margin-left: 8px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .header-stories-swiper .swiper-slide .story-text{
        font-size: 10px;
    }
}