@media (max-width : 1335px) {
    .container-2xl{
        padding: 0 1rem;
    }
}

@media (max-width : 1279px) {
    .header .menu .menu-item li:nth-child(6){
        display: none;
    } 
    .main .header-slideShow-container .header-slideShow{
        height: 303px;
    }
}

@media (max-width : 1023px) {
    .header-gif img{
        height: 35px;
    }
    .header-menu .search-container , .header-menu .menu {
        display: none !important;
    }
    .header-menu .search-responsive-container{
        display: block;
    }
    .header-menu{
        padding: 0;
    }
    .header-menu::after{
        display: none;
    }
    .header-stories{
        padding: 16px 0 10px 0;
    }
    .container-2xl{
        padding-left: 0;
        padding-right: 0;
    }
    .header-stories-swiper .swiper-slide:first-child{
        margin-right: 8px;
    }
    .header-stories-swiper .swiper-slide:last-child{
        margin-left: 8px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .header-stories-swiper .swiper-slide .story-text{
        font-size: 10px;
    }
    .main .header-slideShow-container .header-slideShow{
        height: 268px;
    }
    .bottom-navbar{
        display: block;
    }
}

@media (max-width : 360px) {
    .header-menu .search-responsive-container .logo-responsive{
        margin: auto 100px auto 0;
    }
    .header-menu .search-responsive-container input{
        font-size: 10px;
    }
    .categoryPage-mobile .kala-grouping .kala-dec .kala-submenu p{
        font-size: 10px;
        padding-bottom: 1.5rem !important;
    }

    .categoryPage-mobile .kala-grouping .kala-dec span{
        font-size: 9px;
    }
    .categoryPage-mobile .kala-grouping .kala-dec .kala-submenu .brand-container .brand div{
        font-size: 8px;
    }
    .categoryPage-mobile .kala-grouping ul li{
        font-size: 8px;
    }

    .shopping-cart .shopping-cart-tab a{
        font-size: 10px;
    }

    .shopping-cart .digi-pluse .digi-pluse-content h6 {
        font-size: 10px;
    }

    .shopping-cart .digi-pluse .digi-pluse-content ul li{
        font-size: 8px;
    }
    .shopping-cart .digi-pluse .digi-pluse-content button{
        font-size: 10px;
        padding: 10px 12px 12px 15px;
    }
    .shopping-cart .shopping-cart-content h6 , 
    #next-shop-container h6{
        font-size: 13px;
    }
    .shopping-cart .shopping-cart-content p , 
    #next-shop-container p{
        font-size: 8.5px;
    }
}