@font-face {
    font-family: "iranyekan";
    src: url(../fonts/Qs_Iranyekan.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "iranyekan";
    src: url(../fonts/Qs_Iranyekan\ medium.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 1000px; */
    font-family: "iranyekan";
    box-sizing: border-box;
}
body.bg-dark-50{
    overflow: hidden;
    position: relative;
}

body.bg-dark-50::after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    right: 0;
    height: calc(100% - 108px);
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.container-2xl{
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
}

.header picture img {
    height: 60px;
    object-fit: cover;
    display: inline-block;
}

.header-menu{
    padding: 12px 0 10px 0;
    position: relative;
}

.header-menu .search-responsive-container{
    display: none;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}

.header-menu .search-responsive-container input{
    outline: none;
    background-color: #f0f0f1;
    font-size: 12px;
    padding: 13px 40px 13px 13px;
}

.header-menu .search-responsive-container .logo-responsive{
    max-width: 90px;
    inset: 0;
    margin: auto 110px auto 0;
}

.header-menu::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #e4e4e4;
    bottom: 18px;
}

.header-menu .search-container , .header .menu{
    padding: 0 19px 0 17px;
}

.header-menu .search-container .logo-header{
    margin: 0 -2px 0 4px;
}

.header-menu .search-container .search-box .search-input-container{
    padding: 0 10px 10px 10px;
    /* top: 30px !important; */
    max-width: 600px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 4px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .375rem;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.header-menu .search-container .search-box  .search-input-container.show{
    opacity: 1;
    visibility: visible;
    transition: .15s linear;
}

.header-menu .search-container .search-box  .search-input-container > input{
    width: 576px !important;
    padding: 10px 45px 10px 10px;
}

.header-menu .search-container .search-box  .search-input-container .search-box-icon{
    inset: auto !important;
    margin: 10px 8px 0 0;
}

.header-menu .search-container .search-box .search-input-container h6{
    padding: 2rem 8px 0 0;
    margin-bottom: .75rem;
    position: relative;
    font-size: .95rem;
}

.header-menu .search-container .search-box .search-input-container h6::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #19bfd3;
}

.header-menu .search-container .search-box .search-input-container h6 img{
    margin-left: 10px;
}

.header-menu .search-container .search-box .search-input-container .search-close-icon{
    top: 13px;
    left: 10px;
    cursor: pointer;
}

.header-menu .search-container .search-box .search-input-container .most-search-swiper .swiper-slide{
    width: auto !important;
    font-size: .85rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header-menu .search-box input {
    background-color: #f0f0f1;
    outline: none;
    color: #81858b;
    font-size: 12px;
    padding: 10px 55px 12px 10px;
    max-width: 600px;
    width: 600px;
    height: 44px;
    cursor: default;
}

.header-menu .search-box input::placeholder{
    color: #81858b;
}

.search-box-icon {
    inset: 0;
    margin: auto 18px auto 0;
}

.header-menu .signIn a:first-child{
    font-size: 12px;
    font-weight: 400;
    padding: 7px 15px 7px 13px;
}

.header-menu .signIn a:last-child{
    display: inline-block;
    width: 50px;
    margin-right: 12px;
}

.header-menu .signIn a:last-child img{
    transform: rotateY(180deg);
    border-left: 1px solid #e0e0e2;
    padding-left: 19px;
}

.header .menu .menu-item li {
    padding: 18px 12px;
}

.header .menu .menu-item a{
    font-size: 12px;
    color: #7b7f88;
}

.header .menu .menu-item li:not(:first-child) a img{
    transform: translateY(-2px);
}

.header .menu .menu-item li:first-child a {
    font-size: 14px;
}

.header .menu .menu-item li:nth-child(2) a img{
    border-right: 1px solid #e0e0e2;
    padding-right: 10px;
}

.header .menu .menu-item li:nth-child(7)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    top: 24px;
    right: 0px;
    background-color: #e0e0e2;
} 

.header .menu .location {
    font-size: 12px;
}
.header .menu .location span {
    color: #424750;
    cursor: pointer;
}

.header .header-stories .header-stories-swiper .story-image{
    width: 82px;
    height: 82px;
    background: linear-gradient(315deg, #e03d96, #7d4c9e);
}

.header .header-stories .header-stories-swiper .story-image img{
    width: 78px;
    height: 78px;
    padding: 2px;
    background-color: #fff;
}

.header .header-stories .header-stories-swiper .swiper-button-next img , 
.header .header-stories .header-stories-swiper .swiper-button-prev img , 
.main .header-slideShow-container .header-slideShow .swiper-button-next img ,
.main .header-slideShow-container .header-slideShow .swiper-button-prev img , 
.header-menu .search-container .search-box .search-input-container .swiper-button-next img , 
.header-menu .search-container .search-box .search-input-container .swiper-button-prev img {
    padding: 9px;
    border: 1px solid #e0e0e2;
}

.header .header-stories .header-stories-swiper .swiper-button-next{
    top: 62px;
    left: 15px;
}

.header .header-stories .header-stories-swiper .swiper-button-prev{
    top: 62px;
    right: 15px;
}

.header .header-stories .header-stories-swiper .swiper-button-next::after ,
.header .header-stories .header-stories-swiper .swiper-button-prev::after , 
.main .header-slideShow-container .header-slideShow .swiper-button-next::after ,
.main .header-slideShow-container .header-slideShow .swiper-button-prev::after  ,
.header-menu .search-container .search-box .search-input-container .swiper-button-next::after,
.header-menu .search-container .search-box .search-input-container .swiper-button-prev::after{
    display: none;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none;
}

.header-stories-swiper .swiper-slide{
    width: 82px !important;
}

.header-stories-swiper .swiper-slide .story-text{
    font-size: 11px;
    line-height: 1.8;
    color: #23254e;
}


/* main start  */

.main .header-slideShow-container .header-slideShow{
    height: 403px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    transition: width .2s ease-in-out;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #fff;
    border-radius: 9999px;
    height: 6px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    width: 16px;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation{
    position: absolute;
    bottom: 62px;
    right: 5rem;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation .swiper-button-next{
    left: auto;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation .swiper-button-prev{
    right: auto;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.main .header-slideShow-container .header-slideShow:hover .header-slideShow-navigation .swiper-button-prev,
.main .header-slideShow-container .header-slideShow:hover .header-slideShow-navigation .swiper-button-next{
    opacity: 1;
    visibility: visible;
    transition: .15s linear;
}