@font-face {
    font-family: "iranyekan";
    src: url(../fonts/Qs_Iranyekan.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "iranyekan";
    src: url(../fonts/Qs_Iranyekan\ medium.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 1000px; */
    font-family: "iranyekan";
    box-sizing: border-box;
}
body.bg-dark-50 , 
body.bg-dark-50-mobile , 
body.bg-dark-50-kala-grouping{
    overflow: hidden;
    position: relative;
}

body.bg-dark-50::after , 
body.bg-dark-50-kala-grouping::after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    right: 0;
    height: calc(100% - 168px);
    background-color: rgba(0, 0, 0, .5);
    z-index: 30;
}

body.bg-dark-50-mobile::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100% ;
    width: 100%;
    z-index: 30;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.container-2xl{
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
}

.header-gif img{
    height: 60px;
}

.header-menu{
    padding: 12px 0 10px 0;
    position: relative;
}

.header-menu .search-responsive-container{
    display: none;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}

.header-menu .search-responsive-container input{
    outline: none;
    background-color: #f0f0f1;
    font-size: 12px;
    padding: 13px 40px 13px 13px;
    cursor: default;
}

.header-menu .search-responsive-container .logo-responsive{
    max-width: 90px;
    inset: 0;
    margin: auto 110px auto 0;
}

.header-menu::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #e4e4e4;
    bottom: 18px;
}

.header-menu .search-container , .header .menu{
    padding: 0 19px 0 17px;
}

.header-menu .search-container .logo-header{
    margin: 0 -2px 0 4px;
}

.header-menu .search-responsive-container .search-input-responsive-container{
    width: 100%;
    height: 100vh;
    z-index: 40;
    padding: 10px;
    transform: translateY(100%);
    transition:  .15s linear;
}

.header-menu .search-responsive-container .search-input-responsive-container.show{
    transform: translateY(0);
    transition: .15s linear;
}

.header-menu .search-responsive-container .search-input-responsive-container > input{
    padding-top: 10px;
    padding-right: 48px;
    color: #81858b;
    width: 100%;
}

.header-menu .search-responsive-container .search-input-responsive-container > input::placeholder{
    font-size: .7rem;
}

.header-menu .search-responsive-container .search-input-responsive-container .search-box-icon{
    margin: 20px;
}

.header-menu .search-container .search-box .search-input-container , 
.header-menu .search-responsive-container .search-input-container {
    padding: 0 10px 10px 10px;
    max-width: 600px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 4px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .375rem;
    z-index: 35;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.header-menu .search-container .search-box  .search-input-container.show{
    opacity: 1;
    visibility: visible;
    transition: .15s linear;
}

.header-menu .search-container .search-box  .search-input-container > input{
    width: 576px !important;
    padding: 10px 45px 10px 10px;
}

.header-menu .search-container .search-box  .search-input-container .search-box-icon{
    inset: auto !important;
    margin: 10px 8px 0 0;
}

.header-menu .search-container .search-box .search-input-container h6 , 
.header-menu .search-responsive-container .search-input-responsive-container h6{
    padding: 2rem 8px 0 0;
    margin-bottom: .75rem;
    position: relative;
    font-size: .95rem;
}

.header-menu .search-responsive-container .search-input-responsive-container h6{
    font-size: 13px;
    padding-top: 2.5rem;
}

.header-menu .search-container .search-box .search-input-container h6::before ,
.header-menu .search-responsive-container .search-input-responsive-container h6::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #19bfd3;
}

.header-menu .search-container .search-box .search-input-container h6 img , 
.header-menu .search-responsive-container .search-input-responsive-container h6 img{
    margin-left: 10px;
}

.header-menu .search-container .search-box .search-input-container .search-close-icon , 
.header-menu .search-responsive-container .search-input-responsive-container .search-close-icon{
    top: 13px;
    left: 10px;
    cursor: pointer;
}

.header-menu .search-responsive-container .search-input-responsive-container .search-close-icon{
    top: 18px;
}

.header-menu .search-container .search-box .search-input-container .most-search-swiper .swiper-slide ,
.header-menu .search-responsive-container .search-input-responsive-container .most-search-swiper .swiper-slide{
    width: auto !important;
    font-size: .85rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header-menu .search-responsive-container .search-input-responsive-container .most-search-swiper .swiper-slide{
    font-size: .75rem;
}

.header-menu .search-box input {
    background-color: #f0f0f1;
    outline: none;
    color: #81858b;
    font-size: 12px;
    padding: 10px 55px 12px 10px;
    max-width: 600px;
    width: 600px;
    height: 44px;
    cursor: default;
}

.header-menu .search-box input::placeholder{
    color: #81858b;
}

.search-box-icon {
    inset: 0;
    margin: auto 18px auto 0;
}

.header-menu .signIn a:first-child{
    font-size: 12px;
    font-weight: 400;
    padding: 7px 15px 7px 13px;
}

.header-menu .signIn a:last-child{
    display: inline-block;
    width: 50px;
    margin-right: 12px;
}

.header-menu .signIn a:last-child img{
    transform: rotateY(180deg);
    border-left: 1px solid #e0e0e2;
    padding-left: 19px;
}

.header .menu .menu-item > li {
    padding: 18px 12px 18px 0;
    margin-left: 12px;
}

.header .menu .menu-item a{
    font-size: 12px;
    color: #7b7f88;
}

.header .menu .menu-item li:not(:first-child) a img{
    transform: translateY(-2px);
}

.header .menu .menu-item li:first-child a {
    font-size: 14px;
}

.header .menu .menu-item li:nth-child(2) a img{
    border-right: 1px solid #e0e0e2;
    padding-right: 10px;
}

.header .menu .menu-item li:nth-child(7)::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    top: 24px;
    right: 0px;
    background-color: #e0e0e2;
} 

.header .menu .border-bottom-menu-item{
    height: 2px;
    background-color: red; 
    border-radius: 10px;
    bottom: 9px; 
    z-index: 30; 
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    pointer-events: none;
}
.header .menu .border-bottom-menu-item.show{
    opacity: 1;
    visibility: visible;
    transition: .2s linear;
}

.header .menu .kala-grouping{
    max-height: 69vh; 
    top: 51px;
    z-index: 35; 
    direction: ltr; 
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .3);
}

.header .menu .kala-name li{
    font-size: 12px;
    color: #3f4064;
    padding: 1.04rem 5px;
    background-color: #f5f5f5;
}

.header .menu .kala-grouping .kala-dec span{
    color: #008ebd;
    font-size: 12.5px;
}

.header .menu .kala-grouping .kala-dec ul li.kala-header a{
    font-size: 13.5px;
    color: #000;
    display: flex;
    align-items: center;
}
.header .menu .kala-grouping .kala-dec ul li.kala-header a:hover , 
.header .menu .kala-grouping .kala-dec ul li.kala-header a:hover .left-arrow-kala-header , 
.header .menu .kala-grouping .kala-dec ul li.kala-text a:hover{
    color: red !important;
}

.header .menu .kala-grouping .kala-dec ul li.kala-header::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    top: 4px;
    right: 0;
    background-color: red;
}
.header .menu .kala-grouping .kala-dec ul li.kala-text{
    margin-bottom: .75rem;
}
.header .menu .kala-grouping .kala-dec ul li.kala-text a{
    font-size: 12.5px;
}

.header .menu .location {
    font-size: 12px;
}
.header .menu .location span {
    color: #424750;
    cursor: pointer;
}

.header .header-stories .header-stories-swiper .story-image{
    width: 82px;
    height: 82px;
    background: linear-gradient(315deg, #e03d96, #7d4c9e);
}

.header .header-stories .header-stories-swiper .story-image img{
    width: 78px;
    height: 78px;
    padding: 2px;
    background-color: #fff;
}

.header .header-stories .header-stories-swiper .swiper-button-next img , 
.header .header-stories .header-stories-swiper .swiper-button-prev img , 
.main .header-slideShow-container .header-slideShow .swiper-button-next img ,
.main .header-slideShow-container .header-slideShow .swiper-button-prev img , 
.header-menu .search-container .search-box .search-input-container .swiper-button-next img , 
.header-menu .search-container .search-box .search-input-container .swiper-button-prev img {
    padding: 9px;
    border: 1px solid #e0e0e2;
}

.header .header-stories .header-stories-swiper .swiper-button-next{
    top: 62px;
    left: 15px;
}

.header .header-stories .header-stories-swiper .swiper-button-prev{
    top: 62px;
    right: 15px;
}

.header .header-stories .header-stories-swiper .swiper-button-next::after ,
.header .header-stories .header-stories-swiper .swiper-button-prev::after , 
.main .header-slideShow-container .header-slideShow .swiper-button-next::after ,
.main .header-slideShow-container .header-slideShow .swiper-button-prev::after  ,
.header-menu .search-container .search-box .search-input-container .swiper-button-next::after,
.header-menu .search-container .search-box .search-input-container .swiper-button-prev::after{
    display: none;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none !important;
}

.header-stories-swiper .swiper-slide{
    width: 82px !important;
}

.header-stories-swiper .swiper-slide .story-text{
    font-size: 11px;
    line-height: 1.8;
    color: #23254e;
}


/* main start  */

.main .header-slideShow-container .header-slideShow{
    height: 403px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    transition: width .2s ease-in-out;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background-color: #fff;
    border-radius: 9999px;
    height: 6px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    width: 16px;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation{
    position: absolute;
    bottom: 62px;
    right: 5rem;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation .swiper-button-next{
    left: auto;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.main .header-slideShow-container .header-slideShow .header-slideShow-navigation .swiper-button-prev{
    right: auto;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .15s linear;
}

.main .header-slideShow-container .header-slideShow:hover .header-slideShow-navigation .swiper-button-prev,
.main .header-slideShow-container .header-slideShow:hover .header-slideShow-navigation .swiper-button-next{
    opacity: 1;
    visibility: visible;
    transition: .15s linear;
}



/* bottom navbar */
.bottom-navbar{
    display: none;
    z-index: 50;
}

.bottom-navbar{
    border-top: .5px solid #edeff3;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .14),
     0 -2px 2px rgba(0, 0, 0, .05);;
}

.bottom-navbar > div > div {
    position: relative;
}

.bottom-navbar > div > div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #f1f1f1;
    z-index: -1;
}

.bottom-navbar > div > div:hover::after,
.bottom-navbar > div > div:hover::before{
    animation: hover-bg .3s ease-in-out;
}


.bottom-navbar > div > div::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    right: 50%;
    top: 0;
    background-color: #f1f1f1;
    z-index: -1;

}

@keyframes hover-bg {
    0%{
        width: 0;
        opacity: 1;
    }
    99%{
        width: 50%;
    }
    100%{
        width: 0;
        opacity: .6;
    }
}

.bottom-navbar .bottom-navbar-text{
    font-size: 11px;
    transform: translateY(-4px);
}
 
.text-dark-bottom-navbar{
    color: #424750 !important;
}

.stroke-bottom-navbar{
    stroke: #a1a3a8;
    color: transparent;
    stroke-width: 1.5px
}

.stroke-bottom-navbar-color{
    color: #a1a3a8;
}


/* category page mobile */

.categoryPage-mobile{
    max-height: calc(100% - 61px); 
    height: 100%;
    z-index: 40;
}

.categoryPage-mobile .kala-grouping ul li {
    font-size: 10px;
    border: 1px solid #e0e0e2;
    border-top-width: .5px;
    border-bottom-width: 0;
}

.categoryPage-mobile .kala-grouping ul::-webkit-scrollbar {
    display: none;
}

.categoryPage-mobile .kala-grouping .kala-dec span{
    font-size: 11px;
    color: #008ebd;
    margin-bottom: 1rem;
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu{
    border-bottom: 1px solid #f0f0f1;
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu p{
    font-size: 12px;
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu p .submenu-icon{
    transform: rotateX(0);
}
.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu p .submenu-icon.close{
    transform: rotateX(180deg);
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu .brand-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 6px;
}


.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu .brand-container .brand span{
    background-color: #f0f0f1;
    display: inline-block;
    margin: 0;
    padding: 9px;
    border-radius: 50%;
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu .brand-container .brand img{
    width: 45px;
    height: 45px;
    mix-blend-mode: darken;
}

.categoryPage-mobile .kala-grouping .kala-dec .kala-submenu .brand-container .brand div{
    font-size: 10px;
    margin-top: 7px;
    margin-bottom: 3px;
}

/* shopping cart */

.shopping-cart{
    z-index: 40;
}

.shopping-cart .shopping-cart-tab a{
    font-size: 13px;
    padding: 10px;
    color: #81858b;
}

.shopping-cart .shopping-cart-tab a.active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #ff0000;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.shopping-cart .digi-pluse{
    background-color: #f0f0f1;
}

.shopping-cart .digi-pluse .digi-pluse-content{
    border: 1px solid #b12ba4;
}

.shopping-cart .digi-pluse .digi-pluse-content h6{
    font-size: 13px;
}

.shopping-cart .digi-pluse .digi-pluse-content ul{
    list-style-type: disc  !important;
}

.shopping-cart .digi-pluse .digi-pluse-content ul li::marker{
    color: #800080;
}

.shopping-cart .digi-pluse .digi-pluse-content ul li{
    font-size: 11px;
    color: #81858b ;
}

.shopping-cart .digi-pluse .digi-pluse-content button{
    background-color: #b12ba4;
    color: #fff;
    outline: none;
    border: none;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 15px;
    border-radius: 7px;
    margin-top: 18px;
}

.shopping-cart .shopping-cart-content h6{
    margin: 28px 0 15px 0;
}

.shopping-cart .shopping-cart-content p{
    font-size: 11px;
    color: #62666d;
}